/* ----- Google Font classes ----- */

.oxygen-light {
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* ----- Additional utility classes ----- */

.h-fit {
  height: fit-content;
}

.max-h-100 {
  max-height: 100%;
}

.max-w-none {
  max-width: none !important;
}

/* ----- Editable content styling ----- */

[contenteditable] {
  transition-duration: 200ms;
  outline: 1px dashed transparent;
}

[contenteditable='true'] {
  outline: 1px dashed black;
  border-radius: 2px;
}

/* ----- Scrollbar styling ----- */

html,
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
}

/* ----- Vue Draggable classes ----- */

[data-draggable='true'] {
  cursor: grab !important;
  transition-duration: 200ms;
}

.sortable-chosen,
.sortable-ghost {
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;
}

.sortable-ghost {
  filter: brightness(0.8);
}
